<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.bytecode.use_reflection_optimizer">false</property>
        <property name="hibernate.check_nullability">false</property>
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.password">toor</property>
        <property name="hibernate.connection.url">jdbc:mysql://127.0.0.1:3306/soccer</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQL5InnoDBDialect</property>    
        <property name="hibernate.search.autoregister_listeners">false</property>
        <property name="hibernate.default_catalog">soccer</property>
        
        <mapping class="soccerBet.project.objects.Liga" />       
        <mapping class="soccerBet.project.objects.Epoca" />  
        <mapping class="soccerBet.project.objects.Equipa" /> 
        <mapping class="soccerBet.project.objects.Estatisticas" /> 
        <mapping class="soccerBet.project.objects.Jogo" /> 
        <mapping class="soccerBet.project.objects.Jornada" />  
        <mapping class="soccerBet.project.objects.Pais" /> 
        <mapping class="soccerBet.project.objects.EpocaLiga" /> 
        <mapping class="soccerBet.project.objects.MapeamentoMercados" /> 
        <mapping class="soccerBet.project.objects.Mercados" /> 
        <mapping class="soccerBet.project.objects.Precos" /> 
        <mapping class="soccerBet.project.objects.Login" /> 
        <mapping class="soccerBet.project.objects.Runner" /> 
        <mapping class="soccerBet.project.objects.Apostas" /> 
        <mapping class="soccerBet.project.objects.Classificacao" /> 

    </session-factory>
</hibernate-configuration>